<!DOCTYPE html>
<html>
    <head>
        <title>자산관리시스템</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/datepicker.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/static/js/locales/bootstrap-datepicker.kr.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
        <!--<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.ko-KR.js"></script>-->

        <style type="text/css">
        div.max_width {
            width: 1200px;
        }

        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>
        {% block css %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/asset_list">Save The Children IT Asset Management</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="/asset_list">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="row">
            <div class="span3">
                <ul>
                    <li><a href="/asset">팀별 자산</a></li>
                    <li><a href="/pc">PC 자산</a></li>
                    <li><a href="/monitor">모니터 자산</a></li>
                    <li><a href="/notebook">노트북 자산</a></li>
                    <!--<li><a href="/printer">프린터 자산</a></li>-->
					<li><a href="/user">사용자</a></li>
					<li><a href="/team">팀</a></li>
                    <li><a href="/sr">서비스 접수</a></li>
                </ul>
            </div>
            <div class="span12">
            {% block content%}
            {% endblock %}
            </div>
        </div>
    </body>
</html>
